@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);

  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);

  --destructive: hsl(357 100% 42%);
  --destructive-foreground: hsl(210 40% 98%);

  --success: hsl(142 83% 18%);
  --success-foreground: hsl(210 40% 98%);

  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(222.2 84% 4.9%);

  --radius: 0.5rem;

  --color-UI-white: hsl(240, 20%, 98%);
  --color-UI-black: hsl(0, 0%, 12%);

  --color-Unimet-primary-50: hsl(45, 100%, 96%);
  --color-Unimet-primary-100: hsl(45, 100%, 91%);
  --color-Unimet-primary-200: hsl(45, 100%, 80%);
  --color-Unimet-primary-300: hsl(45, 100%, 70%);
  --color-Unimet-primary-400: hsl(35, 100%, 60%);
  --color-Unimet-primary-500: hsl(35, 100%, 55%);
  --color-Unimet-primary-600: hsl(35, 100%, 50%);
  --color-Unimet-primary-700: hsl(35, 100%, 40%);
  --color-Unimet-primary-800: hsl(35, 100%, 35%);
  --color-Unimet-primary-900: hsl(35, 100%, 30%);
  --color-Unimet-primary-950: hsl(35, 100%, 15%);

  /* "secondary": {
          gradient: "#5CA1FE",
          foreground: "#e0f1fe",
          DEFAULT: "#0c9eeb",
          50: "#f0f8ff",
          100: "#e0f1fe",
          200: "#b9e3fe",
          300: "#7ccefd",
          400: "#36b7fa",
          500: "#0c9eeb",
          600: "#0081cf",
          700: "#0163a3",
          800: "#065486",
          900: "#0b466f",
          950: "#072d4a",
        },
        "tertiary": {
          gradient: "#008E9B",
          DEFAULT: "#00d0ab",
          foreground: "#c5fff1",
          50: "#eefffa",
          100: "#c5fff1",
          200: "#8bffe4",
          300: "#4afed6",
          400: "#15ecc2",
          500: "#00d0ab",
          600: "#00a88c",
          700: "#008f7a",
          800: "#06695c",
          900: "#0a574c",
          950: "#003530",
        }, */

  --color-primary-50: hsl(252, 45%, 98%);
  --color-primary-100: hsl(252, 50%, 96%);
  --color-primary-200: hsl(250, 50%, 93%);
  --color-primary-300: hsl(253, 50%, 86%);
  --color-primary-400: hsl(257, 50%, 77%);
  --color-primary-500: hsl(259, 49%, 67%);
  --color-primary-600: hsl(263, 45%, 57%);
  --color-primary-700: hsl(264, 38%, 51%);
  --color-primary-800: hsl(264, 38%, 43%);
  --color-primary-900: hsl(264, 36%, 36%);
  --color-primary-950: hsl(263, 38%, 24%);
  --color-primary-gradient: hsl(214, 65%, 50%);
  --color-primary-foreground: hsl(252, 50%, 96%);

  --color-secondary-50: hsl(210, 100%, 97%);
  --color-secondary-100: hsl(210, 94%, 94%);
  --color-secondary-200: hsl(210, 89%, 88%);
  --color-secondary-300: hsl(210, 85%, 80%);
  --color-secondary-400: hsl(210, 85%, 70%);
  --color-secondary-500: hsl(210, 90%, 60%);
  --color-secondary-600: hsl(210, 100%, 50%);
  --color-secondary-700: hsl(210, 99%, 40%);
  --color-secondary-800: hsl(210, 92%, 30%);
  --color-secondary-900: hsl(210, 85%, 25%);
  --color-secondary-950: hsl(210, 85%, 15%);
  --color-secondary-gradient: hsl(210, 80%, 65%);
  --color-secondary-foreground: hsl(206, 94%, 94%);

  --color-tertiary-50: hsl(165, 100%, 97%);
  --color-tertiary-100: hsl(165, 90%, 90%);
  --color-tertiary-200: hsl(165, 85%, 80%);
  --color-tertiary-300: hsl(165, 85%, 70%);
  --color-tertiary-400: hsl(165, 85%, 60%);
  --color-tertiary-500: hsl(165, 85%, 50%);
  --color-tertiary-600: hsl(165, 85%, 40%);
  --color-tertiary-700: hsl(165, 85%, 35%);
  --color-tertiary-800: hsl(165, 85%, 30%);
  --color-tertiary-900: hsl(165, 85%, 25%);
  --color-tertiary-950: hsl(165, 85%, 15%);
  --color-tertiary-gradient: hsl(165, 85%, 45%);
  --color-tertiary-foreground: hsl(166, 100%, 89%);
}

.dark {
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);

  --card: hsl(222.2 84% 4.9%);
  --card-foreground: hsl(210 40% 98%);

  --popover: hsl(222.2 84% 4.9%);
  --popover-foreground: hsl(210 40% 98%);

  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);

  --accent: hsl(217.2 32.6% 17.5%);
  --accent-foreground: hsl(210 40% 98%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(212.7 26.8% 83.9%);
}

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-UI-white: var(--color-UI-white);
  --color-UI-black: var(--color-UI-black);

  --color-Unimet-primary-50: var(--color-Unimet-primary-50);
  --color-Unimet-primary-100: var(--color-Unimet-primary-100);
  --color-Unimet-primary-200: var(--color-Unimet-primary-200);
  --color-Unimet-primary-300: var(--color-Unimet-primary-300);
  --color-Unimet-primary-400: var(--color-Unimet-primary-400);
  --color-Unimet-primary-500: var(--color-Unimet-primary-500);
  --color-Unimet-primary-600: var(--color-Unimet-primary-600);
  --color-Unimet-primary-700: var(--color-Unimet-primary-700);
  --color-Unimet-primary-800: var(--color-Unimet-primary-800);
  --color-Unimet-primary-900: var(--color-Unimet-primary-900);
  --color-Unimet-primary-950: var(--color-Unimet-primary-950);

  --color-primary: var(--color-primary-400);
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);
  --color-primary-gradient: var(--color-primary-gradient);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-secondary-50: var(--color-secondary-50);
  --color-secondary-100: var(--color-secondary-100);
  --color-secondary-200: var(--color-secondary-200);
  --color-secondary-300: var(--color-secondary-300);
  --color-secondary-400: var(--color-secondary-400);
  --color-secondary-500: var(--color-secondary-500);
  --color-secondary-600: var(--color-secondary-600);
  --color-secondary-700: var(--color-secondary-700);
  --color-secondary-800: var(--color-secondary-800);
  --color-secondary-900: var(--color-secondary-900);
  --color-secondary-950: var(--color-secondary-950);
  --color-secondary-gradient: var(--color-secondary-gradient);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-tertiary-50: var(--color-tertiary-50);
  --color-tertiary-100: var(--color-tertiary-100);
  --color-tertiary-200: var(--color-tertiary-200);
  --color-tertiary-300: var(--color-tertiary-300);
  --color-tertiary-400: var(--color-tertiary-400);
  --color-tertiary-500: var(--color-tertiary-500);
  --color-tertiary-600: var(--color-tertiary-600);
  --color-tertiary-700: var(--color-tertiary-700);
  --color-tertiary-800: var(--color-tertiary-800);
  --color-tertiary-900: var(--color-tertiary-900);
  --color-tertiary-950: var(--color-tertiary-950);
  --color-tertiary-gradient: var(--color-tertiary-gradient);
  --color-tertiary-foreground: var(--color-tertiary-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
