version: "3.8"
services:
  frontend:
    container_name: frontend
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - backend-network

  backend:
    container_name: backend
    build: ./
    # ports:
    #   - 6969:6969  <-- Optional: comment this out if you only want access via Nginx (port 80)
    develop:
      watch:
        - action: rebuild
          path: ./server
    restart: on-failure
    depends_on:
      - db
    links:
      - "db"
    networks:
      - backend-network

  # db_seed:
  #   container_name: db_seed
  #   image: surrealdb/surrealdb:latest
  #   volumes:
  #     - ./surrealdb/seed.surql:/seed.surql
  #   command: [ "import", "--conn", "http://${SURREAL_HOST}", "--user", "${SURREAL_USER}", "--pass", "${SURREAL_PASS}", "--ns" , "${SURREAL_NS}", "--db", "${SURREAL_DB}", "/seed.surql"] 
  #   restart: on-failure
  #   links:
  #     - "db"
  #   networks:
  #     - backend-network
  #   depends_on:
  #     - db

  db:
    container_name: db
    user: root
    image: surrealdb/surrealdb:latest
    command: start -A --user ${SURREAL_USER} --pass ${SURREAL_PASS} file:/database/database.db
    volumes:
      - db-vol:/database
    # ports:
    #   - 8000:8000
    env_file:
    - path: .env
      required: true
    networks:
      - backend-network

networks:
  backend-network:

volumes:
  db-vol: