version: "3.8"
services:
  frontend:
    container_name: frontend
    build:
      context: ./client
      args:
        - VITE_API_URL=${VITE_API_URL}
        - VITE_WS_URL=${VITE_WS_URL}
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - backend-network
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - VITE_WS_URL=${VITE_WS_URL}
  backend:
    container_name: backend
    build: ./server
    # ports:
    #   - 6969:6969  <-- Optional: comment this out if you only want access via Nginx (port 80)
    develop:
      watch:
        - action: rebuild
          path: ./server
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    links:
      - "db"
    networks:
      - backend-network
    environment:
      - USER_SIGIN_KEY=${USER_SIGIN_KEY}
      - ADMIN_SIGIN_KEY=${ADMIN_SIGIN_KEY}
      - SURREAL_USER=${SURREAL_USER}
      - SURREAL_PASS=${SURREAL_PASS}
      - SURREAL_NS=${SURREAL_NS}
      - SURREAL_DB=${SURREAL_DB}
      - SURREAL_HOST=${SURREAL_HOST}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - PORT=${PORT}
      - FRONTEND_ADDRS=${FRONTEND_ADDRS}
      - SERVER_ADDRS=${SERVER_ADDRS}
      - MODE=${MODE}
  db_seed:
    build: ./surrealdb
    container_name: db_seed
    environment:
      - SURREAL_USER=${SURREAL_USER}
      - SURREAL_PASS=${SURREAL_PASS}
      - SURREAL_NS=${SURREAL_NS}
      - SURREAL_DB=${SURREAL_DB}
      - SURREAL_HOST=${SURREAL_HOST}
    restart: on-failure
    networks:
      - backend-network
    depends_on:
      - db

  db:
    container_name: db
    user: root
    image: surrealdb/surrealdb:latest
    command: start -A --user ${SURREAL_USER} --pass ${SURREAL_PASS} file:/database/database.db
    volumes:
      - db-vol:/database
    ports:
      - "8000:8000"
    healthcheck:
      test:
        - CMD
        - /surreal
        - isready
      interval: 2s
      timeout: 10s
      retries: 10
    networks:
      - backend-network

networks:
  backend-network:

volumes:
  db-vol:
