version: "3.8"
services:
  db:
    container_name: db
    user: root
    image: surrealdb/surrealdb:latest
    command: start -A --log all --user root --pass root file:/database/database.db
    volumes:
      - db-vol:/database
    ports:
      - 8000:8000
    env_file:
      - path: .env
        required: true
    networks:
      - backend-network

networks:
  backend-network:


volumes:
  db-vol:
