version: "3.8"
services:
  backend:
    container_name: backend
    build: ./server
    ports:
      - 6969:6969
    develop:
      watch:
        - action: rebuild
          path: ./server
    restart: on-failure
    environment:
      - USER_SIGIN_KEY=${USER_SIGIN_KEY}
      - ADMIN_SIGIN_KEY=${ADMIN_SIGIN_KEY}
      - SURREAL_USER=${SURREAL_USER}
      - SURREAL_PASS=${SURREAL_PASS}
      - SURREAL_NS=${SURREAL_NS}
      - SURREAL_DB=${SURREAL_DB}
      - SURREAL_HOST=${SURREAL_HOST}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - PORT=${PORT}
      - FRONTEND_ADDRS=${FRONTEND_ADDRS}
      - SERVER_ADDRS=${SERVER_ADDRS}
      - MODE=${MODE}
